---
type Props = {
    stack: {
        name: string;
        icon: any; //  allow svg component
        link: string;
    }[];
};

const { stack }: Props = Astro.props;
---

<div class="Fade_Up grid grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4">
    {
        stack.map((obj) => {
            const Icon = obj.icon; //  component

            return (
                <a
                    href={obj.link}
                    title={obj.name}
                    class="Fade_Stagger flex_center flex-col gap-2 min-w-24 aspect-square rounded-lg bg-skillGradient"
                    target="_blank"
                    rel="noreferrer"
                >
                    <div class="flex_center min-h-[35px] aspect-square">
                        <Icon width="35" height="35" /> {/* ✅ FIX */}
                    </div>
                    <span class="text-[0.9em]">{obj.name}</span>
                </a>
            );
        })
    }
</div>